<div class="container padTwo">
  <div class="jumbotron">
    <p>I was born in a small town in southern Ontario, but I was raised in eastern canada, on Cape Breton Island.</p>
    <p>When I was 8, we packed up and headed west so my dad could join in in the oil boom, and I've lived in Alberta ever since.</p>
    <p>I love to play music, read books and code with a good cup of coffee beside me</p>
  </div>
</div>