<div class="container">
  <div class="row">
    <div class="col-sm">
      <h5>Aspiring Rails Dev</h5>
    </div>
    <div class="col-sm">
      <h5>Constantly Curious</h5>
    </div>
    <div class="col-sm">
      <h5>Generally Good Guy</h5>
    </div>
  </div>
</div>