<body>
  <main role="main" class="container">
    <div class="jumbotron padOne">
      <div class="container">
        <div class="row">
          <div class="col-md-6 h-50 d-inline-block">
              <p>Hi, my name is Josh MacSween, and I'm an aspiring Ruby on Rails developer based in Edmonton, Alberta, Canada.</p>
              <p>My front end skills include HTML5, CSS3, and Bootstrap 4. I use Ruby on Rails to piece it all together</p>
              <p>I'm looking for a great team to be a part of, and to improve my craft through</p>
          </div>
          <div class="col-md-6 h-50 d-inline-block mx-auto bord">
            <%= image_tag('joshprofile.jpg', class: 'img-fluid rounded prof', alt: 'Josh Profile' ) %>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>