<body>
  <main role="main" class="container">
    <div class="jumbotron padOne">
      <div class="container">
        <div class="row">
          <div class="col-md-6 h-50 d-inline-block">
              <p>Hi, my name is Josh MacSween, I'm an aspiring Ruby on Rails developer based in Edmonton, Alberta, Canada. <br>
              My front end skills include HTML5, CSS3, and Bootstrap 4, and I use Ruby on Rails to piece it all together.
              I'm looking to join a great team that will guide me in best practices and push me towards excellence.</p>
              <ul style="list-style: none;">
                <li>Feel free to take a look at my github profile <a href="https://github.com/JoshMacSween">here</a></li>
                <li> I can be contacted at <a href="mailto:joshmacsween@gmail.com">joshmacsween@gmail.com</a></li>
                <li>Currently accepting Projects now to start in </li>
                <li><%= "#{Time.zone.now.strftime("%F")}"%></li>
                <li>I look forward to working with you.</li>
              </ul>
          </div>
          <div class="col-md-6 h-50 d-inline-block mx-auto bord">
            <%= image_tag('joshprofile.jpg', class: 'img-fluid rounded prof', alt: 'Josh Profile' ) %>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>