<div class="container padTwo">
  <div class="jumbotron">
    <h4>Here you can see a few of my projects</h4>
    <p><a href="http://hipstersim.herokuapp.com">Hipstersim</a> lets you create your own pretentious millenial, now with user signup!</p>
    <p>More coming soon!</p>
  </div>
</div>